/* font-family: 'Source Sans Pro', sans-serif; */

#h1  {
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

#student-table  {
  width: 70%;
  margin-left: 300px;
}
